/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');*/

/*
TODO: override checkbox to align left/compact :( why no workie
 */

body {
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

p {
    margin: 0px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.login-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
}

input {
    background-color: #eee;
    display: inline-block;
    /*float: left;*/
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 220px;
}

.checkbox {
    display: inline-block;
}

#submit {
    border-radius: 20px;
    border: 1px solid #3d9970;
    background-color: #3d9970;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

#submit:hover {
    background-color: white;
    color: #3d9970;
}

.other {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

a {

}

